<div class="layout-fullpage">

  <!--Logo-->
  <img src="/assets/keyper_logo.png" class="img-logo">

  <div class="layout-container">

    <!--Username-->
    <form class="layout-form" style="margin-top: 10px">
      <mat-form-field class="layout-full-width">
        <input matInput placeholder="Create Username" value="" required>
      </mat-form-field>
    </form>

    <!--Password-->
    <form class="layout-form">
      <mat-form-field class="layout-full-width">
        <input matInput placeholder="Create Password" value="" type="password" required [(ngModel)]="passwordEntry" #ctrl="ngModel" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>

    <!--Confirm Password-->
    <form class="layout-form">
      <mat-form-field class="layout-full-width">
        <input matInput placeholder="Confirm Password" value="" type="password" required [(ngModel)]="passwordConfEntry" #ctrl="ngModel" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>

    <!--Error Alert-->
    <form class="layout-form" *ngIf="inputError!=null">
      <p style="color: red">{{inputError}}</p>
    </form>

    <!--Buttons-->
    <form class="layout-form">
      <div class="layout-button layout-buttons-large">
        <button mat-stroked-button routerLink="../login"><mat-icon class="layout-icon-padright">keyboard_backspace</mat-icon>Return To Login</button>
        <button mat-stroked-button (click)="hashAndSendPassword()"><mat-icon class="layout-icon-padright">create</mat-icon>Create Account</button>
      </div>
      <div class="layout-button layout-buttons-small">
        <button mat-stroked-button class="layout-full-width" style="margin-bottom: 7px" (click)="hashAndSendPassword()">Create Account<mat-icon class="layout-icon-padleft">create</mat-icon></button>
        <button mat-stroked-button class="layout-full-width" style="margin-top: 7px" routerLink="../login"><mat-icon class="layout-icon-padright">keyboard_backspace</mat-icon>Return to Login</button>
      </div>
    </form>

  </div>

</div>
