<div class="layout-fullpage">

  <!--Logo-->
  <img src="/assets/keyper_logo.png" class="img-logo">

  <div class="layout-container">

    <form class="layout-form" style="margin-top: 10px" #signupForm="ngForm">
      <!--Username-->
      <mat-form-field class="layout-full-width">
        <input matInput name="username" placeholder="Username" [(ngModel)]="usernameEntry" required>
      </mat-form-field>

      <!--Email-->
      <mat-form-field class="layout-full-width">
        <input matInput name="email" placeholder="Email" [(ngModel)]="emailEntry" required type="email">
      </mat-form-field>

      <!--Password-->
      <mat-form-field class="layout-full-width">
        <input matInput name="password" placeholder="Password" value="" type="password" required [(ngModel)]="passwordEntry" #ctrl="ngModel">
      </mat-form-field>

      <!--Confirm Password-->
      <mat-form-field class="layout-full-width">
        <input matInput name="confirm" placeholder="Confirm Password" value="" type="password" required [(ngModel)]="passwordConfEntry" #ctrl="ngModel">
      </mat-form-field>

      <!--Error Alert-->
      <div class="layout-form" *ngIf="inputError!=null">
        <p style="color: red">{{inputError}}</p>
      </div>

      <!--Buttons-->
      <div class="layout-button layout-buttons-large">
        <button mat-stroked-button routerLink="../login"><mat-icon class="layout-icon-padright">keyboard_backspace</mat-icon>Return To Login</button>
        <button mat-stroked-button (click)="hashAndSendPassword()" [disabled]="signupForm.form.invalid"><mat-icon class="layout-icon-padright">create</mat-icon>Create Account</button>
      </div>
      <div class="layout-button layout-buttons-small">
        <button mat-stroked-button type="submit" class="layout-full-width" style="margin-bottom: 7px" (click)="hashAndSendPassword()" [disabled]="signupForm.form.invalid">Create Account<mat-icon class="layout-icon-padleft">create</mat-icon></button>
        <button mat-stroked-button class="layout-full-width" style="margin-top: 7px" routerLink="../login"><mat-icon class="layout-icon-padright">keyboard_backspace</mat-icon>Return to Login</button>
      </div>
    </form>

  </div>

</div>
