<div>
  <div class="mat-elevation-z3 bg-primary" id="header">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <h3>Keyper</h3>
      <button mat-flat-button (click)="logout()" color="accent" style="margin: 8px;">Log Out</button>
    </div>
  </div>

  <div id="upper" class="bg-primary" fxLayout="row">
    <div fxFlex id="search">
      <mat-form-field style="font-size: 16pt" dndDropzone (dndDrop)="filter.value=$event.data; applyFilter($event.data);">
        <input #filter type="search" matInput (keyup)="applyFilter($event.target.value)">
        <mat-placeholder class="placeholder">Search Passwords</mat-placeholder>
        <button mat-button *ngIf="filter.value.length" matSuffix mat-icon-button aria-label="Clear" (click)="filter.value=''; applyFilter('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div fxFlex style="padding-left: 20px; padding-right: 20px;">
      <h3 style="margin-top: 0px; margin-bottom: 10px;">Tags</h3>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of allTags" [dndDraggable]="tag" style="z-index: 500;" [style.backgroundColor]="getColor(tag)" [style.color]="getTextColor(tag)">{{ tag }}</mat-chip>
        <mat-chip *ngIf="newTag"><input #newTagText matInput style="font-size: 12pt;" (blur)="addTag(newTagText.value)" (keyup.enter)="addTag(newTagText.value)" /></mat-chip>
        <mat-chip (click)="showNewTag()">New</mat-chip>
      </mat-chip-list>
    </div>

    <div fxFlex fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h3 style="margin: 0px;">Generate Password</h3>
        <button
          (click)="showPGDialog()"
          matTooltip="Change password complexity"
          mat-icon-button>
          <mat-icon aria-hidden="false" aria-label="Change password complexity">settings</mat-icon>
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span fxFlex style="font-family: monospace; font-size: 12pt; word-break: break-all;">{{password}}</span>
        <button
          (click)="generateNewPassword()"
          matTooltip="Generate New Password"
          mat-icon-button>
          <mat-icon aria-hidden="false" aria-label="Generate New Password">refresh</mat-icon>
        </button>
        <button
          (click)="copyPassword()"
          matTooltip="Copy Password"
          mat-icon-button>
          <mat-icon aria-hidden="false" aria-label="Copy Password">file_copy</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <button mat-fab (click)="addEntry()" color="accent" id="addButton" style="z-index: 200;">
    <mat-icon aria-hidden="false" aria-label="Navigate to website">add</mat-icon>
  </button> 

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let entry" [style.width.px]="tagColumnWidth">
        <div fxLayout="column wrap" >
          <div *ngFor="let tag of entry.tags" (click)="removeTag(entry, tag)" [matTooltip]="tag + ' (click to remove)'" class="tag-dot" [style.backgroundColor]="getColor(tag)"></div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef style="padding-left: 26px;"> Title </th>
      <td mat-cell *matCellDef="let entry">
        <div fxLayoutAlign='start center'>
          <img height="16" width="16" [src]="'http://www.google.com/s2/favicons?domain=' + entry.url" />
          <app-input name="title" tabindex="0" (ngModelChange)="entry.sync()" ngDefaultControl style="padding-left: 10px;" [(ngModel)]="entry.title"></app-input>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> URL </th>
      <td mat-cell *matCellDef="let entry">
        <app-input name="url" tabindex="0" (ngModelChange)="entry.sync()" style="padding-left: 10px;" [(ngModel)]="entry.url"></app-input>
        <button
          *ngIf="entry.url"
          tabindex="-1"
          (click)="entry.openUrl()"
          matTooltip="Open site in new tab"
          mat-icon-button>
          <mat-icon aria-hidden="false" aria-label="Navigate to website">launch</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let entry">
        <app-input name="username" tabindex="0" (ngModelChange)="entry.sync()" [(ngModel)]="entry.username"></app-input>
        <button
          *ngIf="entry.username"
          tabindex="-1"
          (click)="entry.copyUsername()"
          matTooltip="Copy Username"
          mat-icon-button>
          <mat-icon aria-hidden="false" aria-label="Copy Username">file_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let entry">
        <app-input name="email" tabindex="0" (ngModelChange)="entry.sync()" [(ngModel)]="entry.email"></app-input>
        <button
          *ngIf="entry.email"
          tabindex="-1"
          (click)="entry.copyEmail()"
          matTooltip="Copy Email"
          mat-icon-button>
          <mat-icon aria-hidden="false" aria-label="Copy Email">file_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let entry">
        <ng-container *ngIf="entry.passwordVisible; else elseBlock">
          <app-input name="password" tabindex="0" (ngModelChange)="entry.sync()" style="font-family: monospace" [(ngModel)]="entry.password"></app-input>
          <button
            (click)="entry.showPassword()"
            tabindex="-1"
            matTooltip="Hide Password"
            mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="Hide Password">visibility_off</mat-icon>
          </button>
        </ng-container>
        <ng-template #elseBlock>
          <span>••••••••••</span>
          <button
            (click)="entry.showPassword()"
            tabindex="-1"
            matTooltip="Show Password"
            mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="Show Password">visibility</mat-icon>
          </button>
        </ng-template>
        <button
          (click)="entry.copyPassword()"
          tabindex="-1"
          matTooltip="Copy Password"
          mat-icon-button>
          <mat-icon aria-hidden="false" aria-label="Copy Password">file_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef> Notes </th>
      <td mat-cell *matCellDef="let entry">
        <button
          (click)="showNotesDialog(entry)"
          tabindex="-1"
          matTooltip="Edit notes"
          mat-icon-button>
          <mat-icon *ngIf="entry.notes && entry.notes.length > 0" aria-hidden="false" aria-label="Edit Notes">insert_comment</mat-icon>
          <mat-icon *ngIf="!entry.notes || entry.notes.length === 0" aria-hidden="false" aria-label="Add Notes">add_comment</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let entry">
        <button
          (click)="deleteEntry(entry.id)"
          tabindex="-1"
          matTooltip="Delete Password Entry"
          mat-icon-button>
          <mat-icon style="color: red" aria-hidden="false" aria-label="Delete Entry">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" dndDropzone (dndDrop)="onDrop($event, row)"></tr>
  </table>
</div>
