@import '~@angular/material/theming';
//We import our custom scss component here
@import './styles';

@include mat-core();

$keyper-accent: (
  50: #fdfbe3,
  100: #f9f6b9,
  200: #f5f08a,
  300: #f1ea5b,
  400: #eee638,
  500: #ebe115,
  600: #e9dd12,
  700: #e5d90f,
  800: #e2d50c,
  900: #ddcd06,
  A100: #ffffff,
  A200: #fffbd2,
  A400: #fff79f,
  A700: #fff586,
  contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: black,
        600: black,
        700: black,
        800: black,
        900: black,
        A100: black,
        A200: black,
        A400: black,
        A700: black,
    )
);

$keyper-background: (
  50: #e1f7f6,
  100: #b4ece9,
  200: #83dfdb,
  300: #51d2cc,
  400: #2bc8c1,
  500: #06beb6,
  600: #05b8af,
  700: #04afa6,
  800: #03a79e,
  900: #02998e,
  A100: #c4fffa,
  A200: #91fff6,
  A400: #5efff1,
  A700: #45ffef,
  contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$theme-primary: mat-palette($keyper-background);
$theme-accent:  mat-palette($keyper-accent, 500, 200, 900);
$theme-warn:    mat-palette($mat-red);
$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include theme-color-grabber($theme);
@include angular-material-theme($theme);
