@import '~@angular/material/theming';
//We import our custom scss component here
@import './styles';

@include mat-core();

$theme-primary: mat-palette($mat-purple);
$theme-accent:  mat-palette($mat-pink, A200, A100, A400);
$theme-warn:    mat-palette($mat-red);
$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include theme-color-grabber($theme);
@include angular-material-theme($theme);
